body {
    background-color: #f8f9fa;
}

.col-12 {
    overflow: hidden;
}

.info_hash {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ip_address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-dark {
    text-decoration: none;
}

.link-dark:hover {
    text-decoration: underline;
}

.table {
    display: table;
    table-layout: fixed;
    word-break: break-all;
}